@charset "utf-8";

body#RED section{background: #ffaaff;}
body#BLUE section{background: #aaaaff;}
body#BLACK section{background: #777777;}

header{height: 60px;padding: 0 20px;background: #cccccc;}
header .logo{float: left;}
header .logo a{display: block;line-height: 60px;font-size: 30px;font-weight: bold;color: #333333;}
header nav{float: right;}
header nav ul{}
header nav ul:after{content: "";display: block;clear: both;}
header nav ul li{float: left;margin: 0 20px;}
header nav ul li a{display: block;line-height: 60px;font-size: 17px;color: #555555;}
header nav ul li:hover a{color: #ff6600;}

section{height: calc(100vh - 60px);background: #aaffff;}
section h1{width: 80%;margin: 0 auto;padding: 10px 0;}
section h1 span{}
section .box_group{width: 80%;height: auto;margin: 0 auto;padding: 20px 0;background: #ededed;}
section .box_group:after{content: "";display: block;clear: both;}
section .box_group .box{display: table;float: left;width: calc(100% / 3 - 20px);height: 300px;margin: 0 10px 20px;background-size: cover;background-position: 50%;}
section .box_group .box p{display: table-cell;vertical-align: middle;text-align: center;font-size: 18px;color: #ffffff;background: rgba(0,0,0,.6);opacity: 0;transition: opacity 0.5s;}
section .box_group .box:hover p{opacity: 1;}

.dark_bg{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,.5);z-index: -1;opacity: 0;}
.dark_bg.active{z-index: 1;opacity: 1;}
.popup{position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 60%;padding: 20px;background: #ffffff;border-radius: 4px;z-index: -1;opacity: 0;}
.popup.active{z-index: 1;opacity: 1;}
.popup .close{position: absolute;top: -40px;right: -36px;font-size: 36px;color: #ffffff;font-weight: bold;cursor: pointer;}
.popup .popup_img{height: 300px;background-size: cover;background-position: 50%;background-color: #ffffaa;}
.popup h3{padding: 10px 0;text-align: center;}